<!DOCTYPE html>
<html lang="en">
<head>
	<title>Hospital Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ static_url_m }}images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}css/util_login.css">
	<link rel="stylesheet" type="text/css" href="{{ static_url_m }}css/main_login.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-35 p-b-20">
				<form class="login100-form validate-form" action="http://127.0.0.1:8000/hospital/login" method="POST">
					<span class="login100-form-title p-b-20">
						Welcome to NoWait
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text" name="username">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
					{% if wrong_pswd %}
					<font color="red">Wrong Password</font>
					{% endif %}
					{% csrf_token %}

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{{ static_url_m }}vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ static_url_m }}vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ static_url_m }}vendor/bootstrap/js/popper.js"></script>
	<script src="{{ static_url_m }}vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ static_url_m }}vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="{{ static_url_m }}vendor/daterangepicker/moment.min.js"></script>
	<script src="{{ static_url_m }}vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="{{ static_url_m }}vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="{{ static_url_m }}js/main_login.js"></script>

</body>
</html>