<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patients</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static_url_m }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static_url_m }}css/patient_list.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">NoWait</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/hospital/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">{{hospital_name}}</h1>
          <div class="list-group">
            <a href="#" class="list-group-item">Patients</a>
            <!-- <a href="#" class="list-group-item">Current patients</a>
            <a href="#" class="list-group-item">Past patients</a> -->
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          </div>

          <div class="row">

            {% for patient in patients %}
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#">
                    {% if patient.img1 != "" %}
                    <img class="card-img-top" src="data:image/png;base64, {{patient.img1}}" height="200px" alt="No Image">
                    {% elif patient.img2 != "" %}
                    <img class="card-img-top" src="data:image/png;base64, {{patient.img2}}" height="200px" alt="No Image">
                    {% else %}
                    <img class="card-img-top" background="#ffffff" height="200px" alt="No Image">
                    {% endif %}
                    </a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="/hospital/patientdata/{{patient.patient_id}}">{{ patient.name }}</a>
                    </h4>
                    <h5>{{patient.gender}}, {{patient.age}} years</h5>
                    <p class="card-text">{{patient.whats_wrong}}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">
                    {% for t_ago in time_ago %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                          {{ t_ago }}
                      {% endif %}
                    {% endfor %}
                  </small>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="{{ static_url_m }}vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="{{ static_url_m }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
